<div class="flex flex-col md:h-screen bg-gray-100 text-gray-800 border-r border-zinc-300 md:w-64">
    <div class="flex items-center justify-between p-4 bg-gray-100 border-b container-fluid space-x-0.5">
        <a class="text-xl font-bold flex items-center" href="/">
            <img src="icon-40.png" alt="Sowkoquiz" class="h-10 w-10 mr-2" />
            Sowkoquiz
        </a>
        <button title="Navigation menu" class="text-gray-800 md:hidden navbar-toggler" @onclick="ToggleNavMenu">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
    <div class="md:flex md:flex-col flex-grow bg-gray-50 @NavMenuCssClass">
        <nav class="flex flex-col space-y-1 p-4">
            <NavLink class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#EDF0F2]" href="" Match="NavLinkMatch.All">
                <img src="icons/homeicon.png" alt="Home" class="h-5 w-5" />
                <span>Home</span>
            </NavLink>
            <NavLink class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#EDF0F2]" href="quizes?page=1">
                <img src="icons/quizzesicon.png" alt="Quizzes" class="h-5 w-5" />
                <span>Quizzes</span>
            </NavLink>
            <NavLink class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#EDF0F2]" href="random">
                <img src="icons/randomicon.png" alt="Random" class="h-5 w-5" />
                <span>Random</span>
            </NavLink>
            <NavLink class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#EDF0F2]" href="history">
                <img src="icons/historyicon.png" alt="History" class="h-5 w-5" />
                <span>History</span>
            </NavLink>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "hidden" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}