@using Sowkoquiz.Grpc

<div class="p-4 border rounded-lg shadow-md bg-gray-100">
    <h2 class="text-xl font-semibold">@Quiz.Title</h2>
    <p class="text-gray-600">@Quiz.Description</p>
    <button class="mt-4 p-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600 float-right" @onclick="StartQuiz">Start</button>
</div>

@code {
    [Parameter] 
    public SearchQuizResponse.Types.Quiz Quiz { get; set; }

    [Inject] 
    public NavigationManager NavigationManager { get; set; } = null!;
    
    private void StartQuiz()
    {
        var quizId = Quiz.Id;
        NavigationManager.NavigateTo($"/quiz/{quizId}");
    }
}