@page "/"
@using Sowkoquiz.Constants
@using Sowkoquiz.Grpc
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AccessService.AccessServiceClient AccessServiceClient
@inject NavigationManager NavigationManager
<PageTitle>Sowkoquiz</PageTitle>

<div class="container mx-auto mt-8 p-4 text-center">
    <div class="bg-blue-500 text-white py-16 rounded-lg shadow-lg">
        <h1 class="text-4xl font-bold mb-4">Welcome to Sowkoquiz!</h1>
        <p class="text-lg mb-8">Test your knowledge with our exciting quizzes!</p>
    </div>

    <div class="mt-12">
        <input @bind="searchTerm" @bind:event="oninput" placeholder="Search for quizzes..." class="w-full max-w-lg p-2 border border-gray-300 rounded-l-md" />
        <button @onclick="SearchQuizzes" class="p-2 bg-blue-500 text-white rounded-r-md">Search</button>
    </div>
</div>
@code
{
    private string searchTerm = string.Empty;

    private void SearchQuizzes()
    {
        if (!string.IsNullOrEmpty(searchTerm))
        {
            NavigationManager.NavigateTo($"/quizzes?searchTerm={searchTerm}&page=1");
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        var key = await LocalStorage.GetItemAsync<string>(LocalStorageKeys.AccessKey);

        if (string.IsNullOrEmpty(key))
        {
            key = (await AccessServiceClient.AcquireAccessKeyAsync(new AcquireAccessKeyMessage())).AccessKey;
            await LocalStorage.SetItemAsStringAsync(LocalStorageKeys.AccessKey, key);
        }
        
        await base.OnInitializedAsync();
    }
}