@page "/"
@using Sowkoquiz.Constants
@using Sowkoquiz.Grpc
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AccessService.AccessServiceClient AccessServiceClient
@inject NavigationManager NavigationManager
<PageTitle>Sowkoquiz</PageTitle>

<div class="content-center h-full w-full">
<div class="banner-container max-h-[1024px]">
    <img src="/images/banner.png" alt="Banner" class="max-h-[1024px] w-full h-auto max-w-full object-cover ">
    <div class="image-centered">
        <h1 class="sm:text-sm md:text-2xl lg:text-6xl xl:text-6xl font-bold text-white mb-2 sm:mb-4">Welcome to Sowkoquiz!</h1>
        <p class="sm:text-sm md:text-lg lg:text-4xl xl:text-4xl text-white mb-2 sm:mb-8">Explore and test your knowledge</p>
        <div class="flex justify-center sm:mt-0.5 mt-4 w-full px-4 lg:px-0">
            <input type="text" @bind="SearchTerm" @bind:event="oninput" placeholder="Type to search..." class="text-zinc-900 
            form-input border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-l-md shadow-sm transition
            duration-150 ease-in-out w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-2xl sm:mb-0"/>
            <button @onclick="SearchQuizzes" class="p-2 bg-blue-500 text-white rounded-r-md">Search</button>
        </div>
    </div>
</div>
</div>

@code
{
    private string SearchTerm = string.Empty;

    private void SearchQuizzes()
    {
        if (!string.IsNullOrEmpty(SearchTerm))
        {
            NavigationManager.NavigateTo($"/quizzes?searchTerm={SearchTerm}&page=1");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var key = await LocalStorage.GetItemAsync<string>(LocalStorageKeys.AccessKey);

        if (string.IsNullOrEmpty(key))
        {
            key = (await AccessServiceClient.AcquireAccessKeyAsync(new AcquireAccessKeyMessage())).AccessKey;
            await LocalStorage.SetItemAsStringAsync(LocalStorageKeys.AccessKey, key);
        }

        await base.OnInitializedAsync();
    }
}