.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

 .card {
     background-color: #f8f9fa;
     border: 1px solid rgba(0,0,0,.125);
     border-radius: 0.25rem;
 }

.form-check-input {
    margin-right: 0.5rem;
}

.form-check-label {
    font-size: 1.1em;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}